alembic
annotated-types
anyio
Authlib
certifi
cffi
click
cryptography
dnspython
email_validator
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
numpy
opencv-python
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
shellingham
sniffio
SQLAlchemy
sqlmodel
starlette
typer
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
